<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/sample.css">

    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
    <style>
         .table-responsive {
            margin: 20px 0;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        table {
            width: 100%;
            border-collapse: collapse;
            font-family: 'Arial', sans-serif;
            background-color: #f9f9f9;
        }

        thead {
            background-color: #3f51b5;
            color: #050101;
        }

        th, td {
            padding: 12px 15px;
            text-align: left;
        }

        th {
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-size: 14px;
        }

        tbody tr:nth-child(odd) {
            background-color: #eeeeee;
        }

        tbody tr:nth-child(even) {
            background-color: #ffffff;
        }

        tbody tr:hover {
            background-color: #c5cae9;
            cursor: pointer;
        }

        tbody tr {
            transition: background-color 0.3s ease;
        }

        tbody tr td {
            border-bottom: 1px solid #dddddd;
        }

        tbody tr:last-child td {
            border-bottom: none;
        }

        tbody tr td:first-child {
            font-weight: bold;
            color: #3f51b5;
        }

        @media screen and (max-width: 768px) {
            table, thead, tbody, th, td, tr {
                display: block;
            }

            tr {
                margin-bottom: 15px;
            }

            td {
                padding-left: 50%;
                position: relative;
                text-align: right;
            }

            td::before {
                content: attr(data-label);
                position: absolute;
                left: 10px;
                text-align: left;
                font-weight: bold;
            }
        }
    </style>
</head>
<body>
    <div class="grid-container">

        <!-- Header -->
        <header class="header">
            <div class="menu-icon" onclick="openSidebar()">
                <span class="material-icons-outlined">menu</span>
            </div>
            <div class="header-left">
                <span class="material-icons-outlined">search</span>
            </div>
            <div class="header-right">
                
                <span class="material-icons-outlined accountCircle" id="accountCircle">account_circle</span>
                <div id="dropdownMenu" class="dropdown">
                    <a href="#">Profile</a>
                    <a href="#">Settings</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </div>
        </header>
        <!-- End Header -->

        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <span class="material-icons-outlined">groups</span>
                    <a href="https://smartprobegroup.com/" target="_blank">SPI HR Management</a>
                </div>
                <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
            </div>

            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <a href="/dashboard" target="_self">
                        <span class="material-icons-outlined">dashboard</span> Dashboard
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/registration" target="_self">
                        <span class="material-icons-outlined">inventory_2</span> Add Employee
                    </a>
                </li>                
                <li class="sidebar-list-item">
                    <a href="/delete" target="_self">
                        <span class="material-icons-outlined">fact_check</span> Delete Employee
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/seeemployee" target="_self">
                        <span class="material-icons-outlined">add_shopping_cart</span> Update Employee
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/seedata" target="_self">
                        <span class="material-icons-outlined">shopping_cart</span> See Data
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="#" target="_blank">
                        <span class="material-icons-outlined">poll</span> Reports
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="#" target="_blank">
                        <span class="material-icons-outlined">settings</span> Upload 
                    </a>
                </li>
            </ul>
        </aside>
        <!-- End Sidebar -->

        <!-- Main -->
        <main class="main-container">
            <div class="container mt-4">
                <div class="row mb-4">
                    <div class="col-md-8">
                        <div class="search d-flex align-items-center">
                            <i class="fa fa-search mr-2"></i>
                            <input type="text" id="searchInput" class="form-control" placeholder="Search Employees">
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="employeesTable">
                        <thead>
                            <tr>
                                <th>Employee ID</th>
                                <th>Name</th>
                                <th>Middle Name</th>
                                <th>Surname</th>
                                <th>Designation</th>
                                <th>Job Grade</th>
                                <th>Job Grade Level</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="employee-table-body">
                            <!-- Rows will be populated here using JavaScript -->
                        </tbody>
                    </table>
                </div>
            </div>
        
        
            <script src="/js/active.js"></script>
        </main>
        <!-- End Main -->

    </div>

    <!-- Custom JS -->
   
</body>
</html>
