<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/sample.css">

    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid #ddd;
        }
        th, td {
            padding: 12px;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
        .table-container {
            overflow-x: auto;
        }
        

       .search{
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
         
       }

       .search input{

        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;


       }


       .search input:focus{

        box-shadow: none;
        border: 2px solid blue;


       }

       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: blue;

       }
       
     
    </style>
</head>
<body>
    <div class="grid-container">

        <!-- Header -->
        <header class="header">
            <div class="menu-icon" onclick="openSidebar()">
                <span class="material-icons-outlined">menu</span>
            </div>
            <div class="header-left">
                <span class="material-icons-outlined">search</span>
            </div>
            <div class="header-right">
                
                <span class="material-icons-outlined accountCircle" id="accountCircle">account_circle</span>
                <div id="dropdownMenu" class="dropdown">
                    <a href="#">Profile</a>
                    <a href="#">Settings</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </div>
        </header>
        <!-- End Header -->

        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <span class="material-icons-outlined">groups</span>
                    <a href="https://smartprobegroup.com/" target="_blank">SPI HR Management</a>
                </div>
                <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
            </div>

            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <a href="/dashboard" target="_self">
                        <span class="material-icons-outlined">dashboard</span> Dashboard
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/registration" target="_self">
                        <span class="material-icons-outlined">inventory_2</span> Add Employee
                    </a>
                </li>                
                <li class="sidebar-list-item">
                    <a href="/delete" target="_self">
                        <span class="material-icons-outlined">fact_check</span> Delete Employee
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/seeemployee" target="_self">
                        <span class="material-icons-outlined">add_shopping_cart</span> Update Employee
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/seedata" target="_self">
                        <span class="material-icons-outlined">shopping_cart</span> See Data
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="#" target="_blank">
                        <span class="material-icons-outlined">poll</span> Reports
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="#" target="_blank">
                        <span class="material-icons-outlined">settings</span> Upload 
                    </a>
                </li>
            </ul>
        </aside>
        <!-- End Sidebar -->
        <main class="main-container">
            <div class="container mt-4">
                <div class="row mb-4">
                    <div class="col-md-8">
                        <div class="search d-flex align-items-center">
                            <i class="fa fa-search mr-2"></i>
                            <input type="text" id="searchInput" class="form-control" placeholder="Search Employees">
                            
                        </div>
                    </div>
                   
                </div>
                <div class="table-responsive">
                    <table id = "employeesTable">
                        <thead>
                            <tr>
                                
                                <th>Employee ID</th>
                                <th>Name</th>
                                <th>Middle Name</th>
                                <th>Surname</th>
                                <th>Designation</th>
                                <th>Department</th>
                                <th>Work Schedule</th>   
                                <th>Status</th>
                        
                            </tr>
                        </thead>
                        <tbody>
                           
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </main>
        
    </div>

    <!-- Custom JS -->
    <script src="/js/see-data.js"></script>
</body>
</html>
